.vs/AmirFT.Http.CurlLogging/DesignTimeBuild/.dtbcache.v2
.vs/AmirFT.Http.CurlLogging/FileContentIndex/d4b56882-125e-4a9a-89f1-7f4297217acc.vsidx
.vs/AmirFT.Http.CurlLogging/v17/.futdcache.v2
.vs/AmirFT.Http.CurlLogging/v17/.suo
.vs/AmirFT.Http.CurlLogging/v17/DocumentLayout.backup.json
.vs/AmirFT.Http.CurlLogging/v17/DocumentLayout.json
.vs/ProjectEvaluation/amirft.http.curllogging.metadata.v9.bin
.vs/ProjectEvaluation/amirft.http.curllogging.projects.v9.bin
.vs/ProjectEvaluation/amirft.http.curllogging.strings.v9.bin
.claude/settings.local.json
AmirFT.Http.CurlLogging/obj
AmirFT.Http.CurlLogging/bin
