.vs/AmirFT.Http.CurlLogging/DesignTimeBuild/.dtbcache.v2
.vs/AmirFT.Http.CurlLogging/FileContentIndex/d4b56882-125e-4a9a-89f1-7f4297217acc.vsidx
.vs/AmirFT.Http.CurlLogging/v17/.futdcache.v2
.vs/AmirFT.Http.CurlLogging/v17/.suo
.vs/AmirFT.Http.CurlLogging/v17/DocumentLayout.backup.json
.vs/AmirFT.Http.CurlLogging/v17/DocumentLayout.json
.vs/ProjectEvaluation/amirft.http.curllogging.metadata.v9.bin
.vs/ProjectEvaluation/amirft.http.curllogging.projects.v9.bin
.vs/ProjectEvaluation/amirft.http.curllogging.strings.v9.bin
AmirFT.Http.CurlLogging/bin/Debug/net10.0/AmirFT.Http.CurlLogging.deps.json
AmirFT.Http.CurlLogging/bin/Debug/net10.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/bin/Debug/net10.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/bin/Debug/net6.0/AmirFT.Http.CurlLogging.deps.json
AmirFT.Http.CurlLogging/bin/Debug/net6.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/bin/Debug/net6.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/bin/Debug/net8.0/AmirFT.Http.CurlLogging.deps.json
AmirFT.Http.CurlLogging/bin/Debug/net8.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/bin/Debug/net8.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/bin/Debug/netstandard2.0/AmirFT.Http.CurlLogging.deps.json
AmirFT.Http.CurlLogging/bin/Debug/netstandard2.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/bin/Debug/netstandard2.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/obj/AmirFT.Http.CurlLogging.csproj.nuget.dgspec.json
AmirFT.Http.CurlLogging/obj/AmirFT.Http.CurlLogging.csproj.nuget.g.props
AmirFT.Http.CurlLogging/obj/AmirFT.Http.CurlLogging.csproj.nuget.g.targets
AmirFT.Http.CurlLogging/obj/project.assets.json
AmirFT.Http.CurlLogging/obj/project.nuget.cache
AmirFT.Http.CurlLogging/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
AmirFT.Http.CurlLogging/obj/Debug/net10.0/AmirFT.Http.CurlLogging.AssemblyInfo.cs
AmirFT.Http.CurlLogging/obj/Debug/net10.0/AmirFT.Http.CurlLogging.AssemblyInfoInputs.cache
AmirFT.Http.CurlLogging/obj/Debug/net10.0/AmirFT.Http.CurlLogging.assets.cache
AmirFT.Http.CurlLogging/obj/Debug/net10.0/AmirFT.Http.CurlLogging.csproj.AssemblyReference.cache
AmirFT.Http.CurlLogging/obj/Debug/net10.0/AmirFT.Http.CurlLogging.csproj.CoreCompileInputs.cache
AmirFT.Http.CurlLogging/obj/Debug/net10.0/AmirFT.Http.CurlLogging.csproj.FileListAbsolute.txt
AmirFT.Http.CurlLogging/obj/Debug/net10.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Debug/net10.0/AmirFT.Http.CurlLogging.GeneratedMSBuildEditorConfig.editorconfig
AmirFT.Http.CurlLogging/obj/Debug/net10.0/AmirFT.Http.CurlLogging.GlobalUsings.g.cs
AmirFT.Http.CurlLogging/obj/Debug/net10.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/obj/Debug/net10.0/ref/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Debug/net10.0/refint/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AmirFT.Http.CurlLogging/obj/Debug/net6.0/AmirFT.Http.CurlLogging.AssemblyInfo.cs
AmirFT.Http.CurlLogging/obj/Debug/net6.0/AmirFT.Http.CurlLogging.AssemblyInfoInputs.cache
AmirFT.Http.CurlLogging/obj/Debug/net6.0/AmirFT.Http.CurlLogging.assets.cache
AmirFT.Http.CurlLogging/obj/Debug/net6.0/AmirFT.Http.CurlLogging.csproj.AssemblyReference.cache
AmirFT.Http.CurlLogging/obj/Debug/net6.0/AmirFT.Http.CurlLogging.csproj.CoreCompileInputs.cache
AmirFT.Http.CurlLogging/obj/Debug/net6.0/AmirFT.Http.CurlLogging.csproj.FileListAbsolute.txt
AmirFT.Http.CurlLogging/obj/Debug/net6.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Debug/net6.0/AmirFT.Http.CurlLogging.GeneratedMSBuildEditorConfig.editorconfig
AmirFT.Http.CurlLogging/obj/Debug/net6.0/AmirFT.Http.CurlLogging.GlobalUsings.g.cs
AmirFT.Http.CurlLogging/obj/Debug/net6.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/obj/Debug/net6.0/ref/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Debug/net6.0/refint/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AmirFT.Http.CurlLogging/obj/Debug/net8.0/AmirFT.Http.CurlLogging.AssemblyInfo.cs
AmirFT.Http.CurlLogging/obj/Debug/net8.0/AmirFT.Http.CurlLogging.AssemblyInfoInputs.cache
AmirFT.Http.CurlLogging/obj/Debug/net8.0/AmirFT.Http.CurlLogging.assets.cache
AmirFT.Http.CurlLogging/obj/Debug/net8.0/AmirFT.Http.CurlLogging.csproj.AssemblyReference.cache
AmirFT.Http.CurlLogging/obj/Debug/net8.0/AmirFT.Http.CurlLogging.csproj.CoreCompileInputs.cache
AmirFT.Http.CurlLogging/obj/Debug/net8.0/AmirFT.Http.CurlLogging.csproj.FileListAbsolute.txt
AmirFT.Http.CurlLogging/obj/Debug/net8.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Debug/net8.0/AmirFT.Http.CurlLogging.GeneratedMSBuildEditorConfig.editorconfig
AmirFT.Http.CurlLogging/obj/Debug/net8.0/AmirFT.Http.CurlLogging.GlobalUsings.g.cs
AmirFT.Http.CurlLogging/obj/Debug/net8.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/obj/Debug/net8.0/ref/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Debug/net8.0/refint/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
AmirFT.Http.CurlLogging/obj/Debug/netstandard2.0/AmirFT.Http.CurlLogging.AssemblyInfo.cs
AmirFT.Http.CurlLogging/obj/Debug/netstandard2.0/AmirFT.Http.CurlLogging.AssemblyInfoInputs.cache
AmirFT.Http.CurlLogging/obj/Debug/netstandard2.0/AmirFT.Http.CurlLogging.assets.cache
AmirFT.Http.CurlLogging/obj/Debug/netstandard2.0/AmirFT.Http.CurlLogging.csproj.AssemblyReference.cache
AmirFT.Http.CurlLogging/obj/Debug/netstandard2.0/AmirFT.Http.CurlLogging.csproj.CoreCompileInputs.cache
AmirFT.Http.CurlLogging/obj/Debug/netstandard2.0/AmirFT.Http.CurlLogging.csproj.FileListAbsolute.txt
AmirFT.Http.CurlLogging/obj/Debug/netstandard2.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Debug/netstandard2.0/AmirFT.Http.CurlLogging.GeneratedMSBuildEditorConfig.editorconfig
AmirFT.Http.CurlLogging/obj/Debug/netstandard2.0/AmirFT.Http.CurlLogging.GlobalUsings.g.cs
AmirFT.Http.CurlLogging/obj/Debug/netstandard2.0/AmirFT.Http.CurlLogging.pdb
.claude/settings.local.json
AmirFT.Http.CurlLogging/obj/Release/AmirFT.Http.CurlLogging.1.0.0.nuspec
AmirFT.Http.CurlLogging/obj/Release/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
AmirFT.Http.CurlLogging/obj/Release/net10.0/AmirFT.Http.CurlLogging.AssemblyInfo.cs
AmirFT.Http.CurlLogging/obj/Release/net10.0/AmirFT.Http.CurlLogging.AssemblyInfoInputs.cache
AmirFT.Http.CurlLogging/obj/Release/net10.0/AmirFT.Http.CurlLogging.assets.cache
AmirFT.Http.CurlLogging/obj/Release/net10.0/AmirFT.Http.CurlLogging.csproj.AssemblyReference.cache
AmirFT.Http.CurlLogging/obj/Release/net10.0/AmirFT.Http.CurlLogging.csproj.CoreCompileInputs.cache
AmirFT.Http.CurlLogging/obj/Release/net10.0/AmirFT.Http.CurlLogging.csproj.FileListAbsolute.txt
AmirFT.Http.CurlLogging/obj/Release/net10.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Release/net10.0/AmirFT.Http.CurlLogging.GeneratedMSBuildEditorConfig.editorconfig
AmirFT.Http.CurlLogging/obj/Release/net10.0/AmirFT.Http.CurlLogging.GlobalUsings.g.cs
AmirFT.Http.CurlLogging/obj/Release/net10.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/obj/Release/net10.0/AmirFT.Http.CurlLogging.sourcelink.json
AmirFT.Http.CurlLogging/obj/Release/net10.0/ref/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Release/net10.0/refint/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AmirFT.Http.CurlLogging/obj/Release/net6.0/AmirFT.Http.CurlLogging.AssemblyInfo.cs
AmirFT.Http.CurlLogging/obj/Release/net6.0/AmirFT.Http.CurlLogging.AssemblyInfoInputs.cache
AmirFT.Http.CurlLogging/obj/Release/net6.0/AmirFT.Http.CurlLogging.assets.cache
AmirFT.Http.CurlLogging/obj/Release/net6.0/AmirFT.Http.CurlLogging.csproj.AssemblyReference.cache
AmirFT.Http.CurlLogging/obj/Release/net6.0/AmirFT.Http.CurlLogging.csproj.CoreCompileInputs.cache
AmirFT.Http.CurlLogging/obj/Release/net6.0/AmirFT.Http.CurlLogging.csproj.FileListAbsolute.txt
AmirFT.Http.CurlLogging/obj/Release/net6.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Release/net6.0/AmirFT.Http.CurlLogging.GeneratedMSBuildEditorConfig.editorconfig
AmirFT.Http.CurlLogging/obj/Release/net6.0/AmirFT.Http.CurlLogging.GlobalUsings.g.cs
AmirFT.Http.CurlLogging/obj/Release/net6.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/obj/Release/net6.0/AmirFT.Http.CurlLogging.sourcelink.json
AmirFT.Http.CurlLogging/obj/Release/net6.0/ref/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Release/net6.0/refint/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AmirFT.Http.CurlLogging/obj/Release/net8.0/AmirFT.Http.CurlLogging.AssemblyInfo.cs
AmirFT.Http.CurlLogging/obj/Release/net8.0/AmirFT.Http.CurlLogging.AssemblyInfoInputs.cache
AmirFT.Http.CurlLogging/obj/Release/net8.0/AmirFT.Http.CurlLogging.assets.cache
AmirFT.Http.CurlLogging/obj/Release/net8.0/AmirFT.Http.CurlLogging.csproj.AssemblyReference.cache
AmirFT.Http.CurlLogging/obj/Release/net8.0/AmirFT.Http.CurlLogging.csproj.CoreCompileInputs.cache
AmirFT.Http.CurlLogging/obj/Release/net8.0/AmirFT.Http.CurlLogging.csproj.FileListAbsolute.txt
AmirFT.Http.CurlLogging/obj/Release/net8.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Release/net8.0/AmirFT.Http.CurlLogging.GeneratedMSBuildEditorConfig.editorconfig
AmirFT.Http.CurlLogging/obj/Release/net8.0/AmirFT.Http.CurlLogging.GlobalUsings.g.cs
AmirFT.Http.CurlLogging/obj/Release/net8.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/obj/Release/net8.0/AmirFT.Http.CurlLogging.sourcelink.json
AmirFT.Http.CurlLogging/obj/Release/net8.0/ref/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Release/net8.0/refint/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/AmirFT.Http.CurlLogging.AssemblyInfo.cs
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/AmirFT.Http.CurlLogging.AssemblyInfoInputs.cache
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/AmirFT.Http.CurlLogging.assets.cache
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/AmirFT.Http.CurlLogging.csproj.AssemblyReference.cache
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/AmirFT.Http.CurlLogging.csproj.CoreCompileInputs.cache
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/AmirFT.Http.CurlLogging.csproj.FileListAbsolute.txt
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/AmirFT.Http.CurlLogging.GeneratedMSBuildEditorConfig.editorconfig
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/AmirFT.Http.CurlLogging.GlobalUsings.g.cs
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/obj/Release/netstandard2.0/AmirFT.Http.CurlLogging.sourcelink.json
AmirFT.Http.CurlLogging/bin/Release/AmirFT.Http.CurlLogging.1.0.0.nupkg
AmirFT.Http.CurlLogging/bin/Release/net10.0/AmirFT.Http.CurlLogging.deps.json
AmirFT.Http.CurlLogging/bin/Release/net10.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/bin/Release/net10.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/bin/Release/net6.0/AmirFT.Http.CurlLogging.deps.json
AmirFT.Http.CurlLogging/bin/Release/net6.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/bin/Release/net6.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/bin/Release/net8.0/AmirFT.Http.CurlLogging.deps.json
AmirFT.Http.CurlLogging/bin/Release/net8.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/bin/Release/net8.0/AmirFT.Http.CurlLogging.pdb
AmirFT.Http.CurlLogging/bin/Release/netstandard2.0/AmirFT.Http.CurlLogging.deps.json
AmirFT.Http.CurlLogging/bin/Release/netstandard2.0/AmirFT.Http.CurlLogging.dll
AmirFT.Http.CurlLogging/bin/Release/netstandard2.0/AmirFT.Http.CurlLogging.pdb
